[submodule "llvm12"]
        path = llvm12
        url = https://github.com/taptipalit/llvm12.git
[submodule "kaleidoscope-pta"]
        path = kaleidoscope-pta
        url = https://github.com/taptipalit/kaleidoscope-pta.git
        branch = asplos-submission-cut
